 <section class="wrapper site-min-height" id="maincontent">
<div class="col-lg-12">
<div class="form-panel" style="background:rgb(240, 240, 240)">
	<h4 class="mb"><i class="fa fa-angle-right"></i> Order Summary</h4>
	<div class="row">
	<%# @bill.to_s %>
	<% @bill[:items].each do |item,atts| %>
		<div class="showback col-lg-3 col-md-3 col-sm-3" style="margin:20px">
			<%= item %>, (Quantity: <%= atts[:quantity] %>) , (Price: ₹<%= atts[:price] %>), (Contribution:  ₹<%= atts[:contribution] %>)
		</div>
	<% end %>
	</div>
	<div class="row">
	<div class="showback col-lg-5 col-md-5 col-sm-5" style="float:right;margin-right:30px;background:rgb(220, 220, 220);text-align:right;">
			Tax: ₹<%= @bill[:tax][:service_tax] %><br>
			 ₹Total Bill : ₹<%= @bill[:total_bill]%> 
	</div>
	</div>
</div>
<div class="form-panel" style="background:rgb(240, 240, 240)">
	  <h4 class="mb"><i class="fa fa-angle-right"></i> Payment Details</h4>

  <!-- <form class="form-horizontal style-form" method="get"> -->
  <%= form_for(@cart,:url=>"/order/"+params[:rest_name]+"/confirm",:html=>{:class=>"form-horizontal style-form"}) do |f| %>
	  <% if @cart.errors.any? %>
	    <div id="error_explanation">
	      <h2>something isn't right in <%= pluralize(@cart.errors.count, "error") %> </h2>
	      <ul>
	      <% @cart.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


      <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Name</label>
          <div class="col-sm-3">
          <%
          if @cart.user_name.nil?
            name =  current_user.name
          else
            name =  @cart.user_name
          end
          %>
	          <%= f.text_field :user_name ,:class => "form-control",:value => name %>
              <!-- <input type="text" class="form-control" name="order[name]"> -->
          </div>
          <label class="col-sm-2 col-sm-2 control-label">Contact Number</label>
          <div class="col-sm-3">
	          <%= f.text_field :contact ,:class => "form-control",:placeholder=>"+91XXXXXXXXXX",:value => @cart.contact%>
              <!-- <input type="text" class="form-control" name="order[contact]" placeholder="+91XXXXXXXXXX"> -->
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
          	<%= f.text_field :address ,:class => "form-control",:value => @cart.address %>
              <!-- <input type="text" class="form-control" name="order[address]"> -->
          </div>
      </div>

            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Email</label>
                <div class="col-sm-3">
      	          <%= current_user.email %>
                </div>
                <% if not @cart.club.nil? %>
                <label class="col-sm-2 col-sm-2 control-label">Waiting Limit for foodlane to complete</label>
                <div class="col-sm-3">
              		<%= number_field_tag "cart[time]",30 %> minutes
                </div>
                <% end %>
            </div>

      <%= f.submit 'Finish',:style=>"margin-left:90%",:class => "btn btn-primary" %>
	<% end %>
  <!-- </form> -->
</div>
</div><!-- col-lg-12-->      	
</section>