<% logged_in_requirement = true %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= Applingo.get("meta-description")%>">
    <meta name="author" content="<%= Applingo.get("meta-author")%>">
    <meta name="keyword" content="<%= Applingo.get("search-tags")%>" >

    <title><%= Applingo.get('dashboard-titlebar-heading')%></title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/chart-master/Chart.js"></script>
    <%= javascript_include_tag 'application'%>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b><%= Applingo.get('logo')%></b></a>
            <!--logo end-->
            <% if logged_in_requirement %>
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme"><%= current_user.get_active_carts_percent_status.count %></span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green"><%= Applingo.get('navbar-collaborate-status')%></p>
                            </li>
                            <% current_user.get_active_carts_percent_status.each do |c| %>
                            <li>
                                <a href="/club/<%= c[:club] %>">
                                    <div class="task-info">
                                        <div class="desc"><%= c[:name] %></div>
                                        <div class="percent"><%= c[:percent] %>%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= c[:percent] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= c[:percent] %>%">
                                            <span class="sr-only"><%= c[:percent] %>% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% end %>
                            <!-- <li class="external">
                                <a href="#">See All Tasks</a>
                            </li> -->
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">1</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 1 new messages</p>
                            </li>
                            <li>
                                <a href="/track/1">
                                    <span class="photo"><img alt="avatar" src="assets/img/chicago.jpeg"></span>
                                    <span class="subject">
                                    <span class="from">Chicago Pizza</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Your Order is Out for Delivery
                                    </span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="index.html#">See all messages</a>
                            </li> -->
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <% end %>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/signout">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="<%= @cui %>" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><%= @cun %></h5>
              	  	
                  <li class="mt">
                      <a class="<%= "active" if current_page?(dashboard_url) %>" href="<%= dashboard_url %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  
                  <li class="sub-menu">
                      <a class="<%= "active" if current_page?(restaurants_url) %>" href="<%= restaurants_url %>">
                          <i class="fa fa-th"></i>
                          <span>Restaurants</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= "active" if current_page?(foodlanes_url) %>" href="<%= foodlanes_url %>">
                          <i class="fa fa-tasks"></i>
                          <span>Foodlanes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= "active" if current_page?(trending_url) %>" href="<%= trending_url %>">
                          <i class="fa fa-bar-chart-o"></i>
                          <span>Trending</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= "active" if current_page?(big_orders_url) %>" href="<%= big_orders_url %>">
                          <i class="fa fa-desktop"></i>
                          <span>Big Orders</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= "active" if current_page?(preferences_url) %>" href="<%= preferences_url %>">
                          <i class="fa fa-cogs"></i>
                          <span>Preferences</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="<%= "active" if current_page?(foodlane_help_url) %>" href="<%= foodlane_help_url %>">
                          <i class="fa fa-book"></i>
                          <span>Foodlane Help</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

<div class="row">
    <div class="col-lg-9 main-chart">



        <div class="row mt">
          <% Restaurant.all.each do |restaurant| %>
            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn">
                    <div class="white-header">
                        <h5><%= restaurant.name %></h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-heart"></i> <%= restaurant.loved_by %></p>
                        </div>
                        <div class="col-sm-6 col-xs-6"></div>
                    </div>
                    <div class="centered">
                        <img src="<%= restaurant.photo_url %>" width="120">
                    </div>
                </div>
            </div>
            <!-- /col-md-4 -->
          <% end %>

        </div>
        <!-- /row -->

					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
						<h3><%= Applingo.get('dashboard-right-sidebar-head') %></h3>
                       <% Newsfeed.all.each do |nf| %>                 
                      <% if (nf.story == "foodlane" and not Cart.find(nf.club.master_cart_id).expired?) %>
                        <div class="desc">
                        	<div class="thumb">
                        		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                        	</div>
                        	<div class="details"> 
                        		<p><muted><%= time_ago_in_words(nf.created_at) %>  ago
                            <%# timeago_tag Time.now + 24*60*60, :nojs => true %></muted><br/>
                               <a href="#"><%= nf.user.first_name %></a> started a foodlane in <%= nf.restaurant.name %> , 
                               <a href="order/<%=nf.restaurant.get_url_name %>?join=<%= nf.club.id%>">
                               <!-- <button type="button" class="btn btn-primary btn-xs">  -->
                               join
                               <!-- </button> -->
                               </a>

                               <br/>
                        		</p>
                        	</div>
                        </div>
                      <% end %>
                      <% end %>
                  </div><!-- /col-lg-3 -->
              </div><!--/row -->
          </section>
      </section>

      <!--main content end-->
     
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-1.8.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="assets/js/gritter-conf.js"></script>

    <!--script for this page-->
  <!--
  <script src="assets/js/sparkline-chart.js"></script>    
	<script src="assets/js/zabuto_calendar.js"></script>	
		-->

  </body>
</html>
