<% logged_in_requirement = true %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= Applingo.get("meta-description")%>">
    <meta name="author" content="<%= Applingo.get("meta-author")%>">
    <meta name="keyword" content="<%= Applingo.get("search-tags")%>" >

    <title><%= Applingo.get('dashboard-titlebar-heading')%></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lineicons/style.css">    
    <!-- <link rel="stylesheet" type="text/css" href="/assets/jquery.mobile-1.4.5.min.css">  -->
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <script src="/assets/js/jquery-1.8.3.min.js"></script>

    <%# javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- animes -->
      
    <!-- anime end -->
  </head>

  <body>
 <!-- class="sidebar-closed" -->
  <section id="container" class="sidebar-closed">
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <!--logo start-->
            <a href="/" class="logo">
              <b><%# Applingo.get('logo')%></b>
              <img src="/icon.png">
            </a>
            <!--logo end-->
            <% if logged_in_requirement %>
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="/">
                            My Foodlanes
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">
                              <%= current_user.get_active_carts_percent_status.count %>
                            </span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green"><%= Applingo.get('navbar-collaborate-status')%></p>
                            </li>
                            <% current_user.get_active_carts_percent_status.each do |c| %>
                            <li>
                                <a href="/club/<%= c[:club] %>">
                                    <div class="task-info">
                                        <div class="desc"><%= c[:name] %></div>
                                        <div class="percent"><%= c[:percent] %>%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= c[:percent] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= c[:percent] %>%">
                                            <span class="sr-only"><%= c[:percent] %>% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <% end %>
                            <!-- <li class="external">
                                <a href="#">See All Tasks</a>
                            </li> -->
                        </ul>
                    </li>

                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown" style="margin-left:20px">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Notifications
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">1</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 1 new messages</p>
                            </li>
                            <li>
                                <a href="/track/1">
                                    <span class="photo"><img alt="avatar" src="/assets/img/chicago.jpeg"></span>
                                    <span class="subject">
                                    <span class="from">Chicago Pizza</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Your Order is Out for Delivery
                                    </span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="index.html#">See all messages</a>
                            </li> -->
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <% end %>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="/signout">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside></aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
      <div class="container">
        <%= yield %>
        </div>
      </section>

      <!--main content end-->
     
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <!-- // <script src="/assets/js/jquery.js"></script> -->

    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="/assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="/assets/js/gritter-conf.js"></script>

    <!--script for this page-->
  <!--
  <script src="/assets/js/sparkline-chart.js"></script>    
	<script src="/assets/js/zabuto_calendar.js"></script>	
		-->
    <script type="text/javascript">
        $( document ).ready(function() {
            // if ($('#sidebar > ul').is(":visible") === true) {
            //     $('#main-content').css({
            //         'margin-left': '0px'
            //     });
            //     $('#sidebar').css({
            //         'margin-left': '-210px'
            //     });
            //     $('#sidebar > ul').hide();
            //     $("#container").addClass("sidebar-closed");
            // } else {
            //     $('#main-content').css({
            //         'margin-left': '210px'
            //     });
            //     $('#sidebar > ul').show();
            //     $('#sidebar').css({
            //         'margin-left': '0'
            //     });
            //     $("#container").removeClass("sidebar-closed");
            // }
            function update(element){
              if(element.innerHTML == "") return;
                a = element.innerHTML.split(":");
                mins = parseInt(a[0]);
                secs = parseInt(a[1])-1;
                if(secs<0){
                  if(mins>0){
                    mins -= 1;
                  }
                  else{
                    // console.log(element)
                    // console.log($(element).parent().parent()[0].id);
                    // pid = $(element).parent().parent().parent()[0].id;
                    // if(pid!= undefined)
                    // $("#"+pid).load(location.href + " #"+pid);
                    return;
                  }
                  secs = 59;
                }
                element.innerHTML = mins+":"+secs;
                // console.log(mins);
                // console.log(secs);
                return;
            }
            var interval = setInterval(function() {
              // timers = document.getElementsByClassName('timer_div');
              timers = $('.timer_div');
              for (var i=0; i<timers.length; i++) {
                  update(timers[i]);
              }
            }, 1000);

            console.log( "hey Geek, we would love to have you work with us than hacking around here. Contact magus12141@iiitd.ac.in :)  " );
        });
    </script>
  </body>
</html>
